[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/PashaIP
[access "refs/for/refs/*"]
	read = group user/PashaIP
	push = group user/PashaIP
	label-Code-Review = -2..+2 group user/PashaIP
	label-Verified = -1..+1 group user/PashaIP
	rebase = group user/PashaIP
	removeReviewer = group user/PashaIP
	submit = group user/PashaIP
[access "refs/heads/*"]
	read = group user/PashaIP
	create = group user/PashaIP
	push = +force group user/PashaIP
	pushMerge = group user/PashaIP
[access "refs/tags/*"]
	push = +force group user/PashaIP
	pushTag = group user/PashaIP
	pushSignedTag = group user/PashaIP
