[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pasha Ip (PashaIP)
[access "refs/for/refs/*"]
	read = group user/Pasha Ip (PashaIP)
	push = group user/Pasha Ip (PashaIP)
	label-Code-Review = -2..+2 group user/Pasha Ip (PashaIP)
	label-Verified = -1..+1 group user/Pasha Ip (PashaIP)
	rebase = group user/Pasha Ip (PashaIP)
	removeReviewer = group user/Pasha Ip (PashaIP)
	submit = group user/Pasha Ip (PashaIP)
[access "refs/heads/*"]
	read = group user/Pasha Ip (PashaIP)
	create = group user/Pasha Ip (PashaIP)
	push = +force group user/Pasha Ip (PashaIP)
	pushMerge = group user/Pasha Ip (PashaIP)
[access "refs/tags/*"]
	push = +force group user/Pasha Ip (PashaIP)
	pushTag = group user/Pasha Ip (PashaIP)
	pushSignedTag = group user/Pasha Ip (PashaIP)
